.Shop
{
  border: double blue 2px;
  border-radius: 50px;
  background-color: rgb(247, 209, 209);
  padding: 100px 0;
  margin: 0 23%;
}

.Shop_Text
{
  color: rgb(0, 91, 35);
  font-size: 40px;
  padding: 50px;
}

.storeAddress{
  color: black;
  font-size: 30px;
  font-style: italic;
  padding: 50px;
}