table, table caption, table td, table th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 5px;
}

table td {
  padding: 30px 75px;
}

.tableScroll {
  height: 650px;
  width: 30%;
  overflow-x: auto;
  border: 1px solid #ccc;
}

.tableScroll p {
  text-align: center;
  padding: 20px;
  color: #666;
  font-style: italic;
}